pandas
numpy
langchain
langchain-openai
python-dotenv
langchain-community
langchain-core
langchain-text-splitters
langchain-groq
langchain-ollama
langchain-huggingface
ipykernel
streamlit
faiss-cpu
pypdf
langchain-chroma
arxiv
wikipedia
duckduckgo-search
sql
sqlalchemy
mysql-connector-python
validators==0.28.1
youtube-transcript-api
unstructured
pytube  
numexpr
gradio